@import 'variables';
@import '_colors';

:host {
  height: 100%;
  margin: 1 * $space-unit  1 * $space-unit 0 0;
  background-color: $night-blue-6;
  box-shadow: 0 0 4px 1px $black-50;
  padding: 3 * $space-unit;
}
