
$angel: #ECF0F1;

$night-blue-1: #566573;
$night-blue-2: #2C3E50;
$night-blue-3: #273746;
$night-blue-4: #212F3D;
$night-blue-5: #1C2833;
$night-blue-6: #17202A;

$black-50: rgba(#000000, .5);
$black: #000000;
